@charset "utf-8";

#page-header img#jenkins-head-icon {
  /* Override Jenkins logo */
  box-sizing: border-box;
  background: url("/userContent/hibernate-logo.svg") no-repeat;
  background-size: 100%;
  width: 122px; /* Width of new image */
  height: 33px; /* Height of new image */
  padding-left: 122px; /* Equal to width of new image */
  /* Make the logo contrast a bit more with the black background */
  filter: drop-shadow(0 0 0.75rem #fff);
}

/* Hide "Jenkins" on smaller screens */
@media (max-width: 30em) {
  #page-header img#jenkins-name-icon {
    display: none;
  }
}
