---

- name: Create jenkins group for CI jobs to publish the website
  group: name=jenkins state=present gid=1001
- name: Create jenkins user for CI jobs to publish the website
  user: name=jenkins comment="Jenkins user" shell=/bin/bash state=present uid=1001 password_lock=true
- name: Ensure /home/jenkins/.ssh exists
  file: path=/home/jenkins/.ssh state=directory mode=0700 owner=jenkins group=jenkins
- name: Authorize an SSH keys for CI jobs to publish the website
  copy: src=authorized_keys dest=/home/jenkins/.ssh/authorized_keys mode=0600 owner=jenkins group=jenkins
  tags:
    - jenkins

- name: Install the latest version of Apache HTTPD, certbot using dnf
  dnf:
    name: ['httpd', 'mod_ssl', 'certbot', 'certbot-apache']
    state: latest

# Necessary for reverse proxies
- name: Allow HTTPD to open connections
  ansible.posix.seboolean:
    name: httpd_can_network_connect
    state: yes
    persistent: yes

- name: Make sure the example welcome page from HTTPD is removed
  file: path=/etc/httpd/conf.d/{{ item }} state=absent
  with_items:
    - autoindex.conf
    - userdir.conf
    - welcome.conf

- name: Add minimal, default index.html files
  copy: src={{ item }} dest=/var/www/ directory_mode=0755 mode=0600 owner=jenkins group=jenkins force=no
  with_fileglob:
    - "var/www/*/"

- name: Add custom HTTPD configuration
  copy: src={{ item }} dest=/etc/httpd/conf.d/ mode=0600 owner=root
  with_fileglob:
    - "etc/httpd/origin.in.relation.to.conf"
    - "etc/httpd/in.relation.to.conf"
    - "etc/httpd/in.relation.to-*.confpart"
    - "etc/httpd/staging-in.relation.to.conf"
    - "etc/httpd/blog.hibernate.org.conf"
    - "etc/httpd/origin.hibernate.org.conf"
    - "etc/httpd/hibernate.org.conf"
    - "etc/httpd/hibernate.org-*.confpart"
    - "etc/httpd/staging-hibernate.org.conf"
    - "etc/httpd/forum.hibernate.org.conf"
    - "etc/httpd/www.hibernate.org.conf"
    - "etc/httpd/staging-beanvalidation.org.conf"
  notify:
    - Restart Apache HTTPD

- name: Obtain certificates for *.in.relation.to using Let's Encrypt
  shell: sudo certbot certonly -m admin+inrelationto@hibernate.org --agree-tos --apache -d {{ item }}
  args:
    creates: /etc/letsencrypt/live/{{ item }}
  loop:
    - "origin.in.relation.to"
    - "in.relation.to"
    - "staging.in.relation.to"
    - "blog.hibernate.org"
  notify:
    - Restart Apache HTTPD

- name: Obtain certificates for *.hibernate.org using Let's Encrypt
  shell: sudo certbot certonly -m admin+hibernateorg@hibernate.org --agree-tos --apache -d {{ item }}
  args:
    creates: /etc/letsencrypt/live/{{ item }}
  loop:
    - "origin.hibernate.org"
    - "hibernate.org"
    - "staging.hibernate.org"
    - "www.hibernate.org"
    - "forum.hibernate.org"
  notify:
    - Restart Apache HTTPD

- name: Ensure Let's encrypt certificates get renewed
  cron:
    name: "Renew let's encrypt certificates"
    minute: "0"
    hour: "0,12"
    job: "python -c 'import random; import time; time.sleep(random.random() * 3600)' && certbot renew"

- name: Ensure Apache HTTPD is started now, and again on startup
  service: name=httpd enabled=yes state=started
  tags:
    - staging
