@charset "utf-8";

#header #jenkins-home-link {
  /* Center logos vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Hide the Jenkins head image */
#header img#jenkins-head-icon {
  display: none;
}

#header img#jenkins-name-icon {
  /* Override absolute positioning */
  position: static;
  top: auto;
  right: auto;
  bottom: : auto;
  left: auto;

  /* Override Jenkins name image */
  display: inline-block;
  box-sizing: border-box;
  background: url("/userContent/hibernate-logo.svg") no-repeat;
  background-size: 100%;
  width: 122px; /* Width of new image */
  height: 33px; /* Height of new image */
  padding-left: 122px; /* Equal to width of new image */
  /* Make the logo contrast a bit more with the black background */
  filter: drop-shadow(0 0 0.75rem #fff);
}
