---

- name: Install the latest version of OpenJDK, Jenkins, Apache HTTPD, certbot, crontabs using dnf
  dnf:
    name: ['java-21-openjdk-devel', 'jenkins', 'httpd', 'mod_ssl', 'certbot', 'certbot-apache', 'crontabs']
    state: present

- name: Override Java security config to enable RSA 1024bits (used by the Jenkins update site)
  lineinfile:
    dest: /etc/crypto-policies/back-ends/java.config
    state: present
    regexp: '^jdk.certpath.disabledAlgorithms='
    line: 'jdk.certpath.disabledAlgorithms=MD2, MD5, DSA, RSA keySize < 1024'

- name: Copy custom CSS for CI
  copy: src=jenkins/userContent/ci-hibernate.css dest=/var/lib/jenkins/userContent/ mode=0700 owner=jenkins group=jenkins
  tags:
    - copy-css

- name: Copy Hibernate logo for CI
  copy: src=jenkins/userContent/hibernate-logo.svg dest=/var/lib/jenkins/userContent/ mode=0700 owner=jenkins group=jenkins
  tags:
    - copy-css

- name: Add Jenkins configuration directory
  file: path=/etc/systemd/system/{{ item }} state=directory mode=0755 owner=root force=no
  loop:
    - "jenkins.service.d"

- name: Custom Jenkins configuration
  copy: src=etc/systemd/system/jenkins.service.d/override.conf dest=/etc/systemd/system/jenkins.service.d/override.conf mode=0644 owner=root

- name: Ensure Jenkins is started now, and again on startup
  service: name=jenkins enabled=yes state=started

- name: Make sure the example welcome page from HTTPD is removed
  file: path=/etc/httpd/conf.d/{{ item }} state=absent
  with_items:
    - autoindex.conf
    - userdir.conf
    - welcome.conf

- name: Add custom HTTPD configuration (ci.hibernate.org)
  copy: src=etc/httpd/ci.hibernate.org.conf dest=/etc/httpd/conf.d/ci.hibernate.org.conf mode=0600 owner=root

- name: Reconfigure SELinux to allow HTTPD to forward requests to Jenkins
  seboolean:
    name: httpd_can_network_connect
    state: yes
    persistent: yes

- name: Obtain certificates for ci.hibernate.org using Let's Encrypt
  shell: sudo certbot certonly -m ci@hibernate.org --agree-tos --apache -d ci.hibernate.org
  args:
    creates: /etc/letsencrypt/live/ci.hibernate.org

- name: Ensure Let's encrypt certificates get renewed
  cron:
    name: "Renew let's encrypt certificates"
    minute: "0"
    hour: "0,12"
    job: "python3 -c 'import random; import time; time.sleep(random.random() * 3600)' && /usr/local/bin/certbot-auto renew"

- name: Ensure Apache HTTPD is started now, and again on startup
  service: name=httpd enabled=yes state=restarted
