[Unit]
Description=Neo4j {{ neo4j_version }} container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -p {{ neo4j_port }}:7474 -p 7687:7687 --name Neo4j neo4j:{{ neo4j_version }}
ExecStop=/usr/bin/docker stop -t 2 Neo4j
ExecStopPost=/usr/bin/docker rm -f Neo4j

[Install]
WantedBy=default.target

