#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# This group is read by the server.
# NOTE: this configuration is suited for unit tests only, never use in production!
#
[mysqld]
symbolic-links=0
innodb_file_per_table
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit = 0
innodb_support_xa = false
max_allowed_packet=16M
net_buffer_length=262144
innodb_autoextend_increment = 64M
sync_binlog=0
innodb_doublewrite=0
default-time-zone='+00:00'
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
sql-mode="traditional"
