---
# Configure journald
- name: Apply journald configuration for minimum overhead and storage costs
  copy: src=journald.conf dest=/etc/systemd/journald.conf owner=root group=root mode=0644
  notify: Restart journald
  tags:
    - journald

- name: Remove old journald stored logs from disk
  file: path=/var/log/journal state=absent
  tags:
    - journald

# Update and install packages, using dnf
- name: Install all package upgrades using dnf
  dnf:
    name: "*"
    state: latest
  notify:
     - Restart server
     - Wait for server to restart

# Hostname and hosts file
- name: Set the hostname
  hostname: name={{ hostname }}
  tags:
    - hostname

- name: Setup the hosts file to workaround Java RMI limitations
  template: src=hosts dest=/etc/hosts
  tags:
    - hostname
