---
- name: Extra packages for convenience
  dnf:
    name: ['wget', 'jq', 'sed', 'git', 'sendmail', 'curl', 'unzip', 'vim']
    state: present
  tags:
    - extra-packages

- name: Install Postfix
  dnf:
    name: "postfix"
    state: latest
  tags:
    - postfix

# Gmail SMTP server does not support IPv6, so needs to be disabled explicitly:
- name: Postfix Server configuration
  ini_file:
    path: /etc/postfix/main.cf
    section: null
    option: 'inet_protocols'
    value: 'ipv4'
  notify:
    - Restart Postfix
  tags:
    - postfix

- name: Ensure Postfix Server is started now, and again on startup
  service:
    name: postfix
    enabled: yes
    state: started
  tags:
    - postfix

# Create the jenkins user and explicitly set gid and uid
- group: name=jenkins state=present gid=1001
- user: name=jenkins comment="Jenkins user" shell=/bin/bash state=present uid=1001 password_lock=true

- name: Add .bashrc for jenkins
  copy: src=.bashrc dest=/home/jenkins/.bashrc mode=0600 owner=jenkins group=jenkins

- name: Ensure /home/jenkins/.ssh exists and has the right owner/permissions
  file: path=/home/jenkins/.ssh state=directory mode=0700 owner=jenkins group=jenkins
