# nexus-proxy.service
# See https://help.sonatype.com/en/run-as-a-service.html#systemd-162005

[Unit]
Description=nexus-proxy.service
Wants=network-online.target
After=mount_workdir.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/mnt/workdir/nexus-service/nexus/bin/nexus start
ExecStop=/mnt/workdir/nexus-service/nexus/bin/nexus stop

User=fedora
Restart=on-abort
TimeoutSec=600

StandardOutput=journal
StandardError=journal
WorkingDirectory=/mnt/workdir/nexus-service

[Install]
WantedBy=default.target
