---

- name: Ensure Jenkins repo is installed.
  get_url:
    url: "https://pkg.jenkins.io/redhat-stable/jenkins.repo"
    dest: /etc/yum.repos.d/jenkins.repo

- name: Add Jenkins repo GPG key.
  rpm_key:
    state: present
    key: "https://pkg.jenkins.io/rpm-stable/repodata/repomd.xml.key"